/* typography */

body {
    font-family: 'Baloo Thambi 2';
    color: #041f1e;
}
h1, 
h2, 
h3 {
    font-family: 'Quicksand';
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
p {
    font-size: 14px;
}
a {
    color: inherit;
    text-decoration: none;
}


/* component */

picture {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* layout */

body {
    display: flex;
    flex-flow: column;
}
header {
    background: #ffa69e;
    font-family: 'Quicksand';
    font-size: 32px;
    font-weight: bolder;
    color: #faf8f1;
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    flex: 1;
    max-width: 1280px;
    margin: 0 auto;
}
footer {
    position: relative;
    background: #5E6472;
    font-size: 12px;
    color: white;
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}
footer::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: calc((50vw - 50%) * -1);
    z-index: -1;
    background: inherit;
    width: 100vw;
    height: 100%;
}


/* module */

section.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}
section.grid a {
    display: block;
    width: calc(25% - 24px);
    margin: 0 12px;
}
section.grid a:not(:nth-child(-n+4)) {
    margin-top: 24px;
}

nav.feature {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -12px;
}
nav.feature a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(33.333% - 24px);
    height: 64px;
    margin: 0 12px;
    background: red;
}
