/* typography */

body {
    font-family: 'Baloo Thambi 2';
    color: #555555;
}
h1, 
h2, 
h3 {
    font-family: 'Quicksand';
    color: #111111;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
    margin-bottom: 12px;
}
h3 {
    font-size: 16px;
}
p {
    font-size: 14px;
    line-height: 1.5;
}
a {
    color: inherit;
    text-decoration: none;
}


/* component */

picture {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
picture::before {
    content: '';
    display: block;
}


/* layout */

body {
    display: flex;
    flex-flow: column;
}
header {
    background: #ffb69e;
    font-family: 'Quicksand';
    font-size: 32px;
    font-weight: bolder;
    color: #faf8f1;
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    header {
        font-size: 24px;
        height: 48px;
    }
}
main {
    flex: 1;
    padding: 0 20px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
footer {
    position: relative;
    background: #5E6472;
    font-size: 12px;
    color: white;
    height: 32px;
    padding: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}
footer::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: calc((50vw - 50%) * -1);
    z-index: -1;
    background: inherit;
    width: 100vw;
    height: 100%;
}
footer .credit::before {
    content: 'Made by:';
    margin-right: 0.25em;
}


/* module */

section.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 32px -12px;
}
@media (max-width: 768px) {
    section.grid {
        margin: 24px -12px;
    }
}
section.grid a {
    display: block;
    width: calc(25% - 24px);
    margin: 0 12px;
}
@media (max-width: 1024px) {
    section.grid a {
        width: calc(33.333% - 24px);
    }
}
@media (max-width: 768px) {
    section.grid a {
        width: calc(50% - 24px);
    }
}
@media (max-width: 420px) {
    section.grid a {
        width: calc(100% - 24px);
    }
}
@media (min-width: 1024px) {
    section.grid a:not(:nth-child(-n+4)) {
        margin-top: 24px;
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    section.grid a:not(:nth-child(-n+3)) {
        margin-top: 24px;
    }
}
@media (max-width: 768px) and (min-width: 420px) {
    section.grid a:not(:nth-child(-n+2)) {
        margin-top: 24px;
    }
}
@media (max-width: 420px) {
    section.grid a:not(:first-child) {
        margin-top: 24px;
    }
}
section.grid picture {
    background-color: #f1f2f3;
    display: block;
    margin-bottom: 16px;
}
section.grid picture::before {
    padding-top: 75%;
}

nav.feature {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 48px -12px 32px;
}
@media (max-width: 768px) {
    nav.feature {
        margin: 32px -12px 24px;
    }
}
nav.feature a {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(33.333% - 24px);
    height: 96px;
    margin: 0 12px;
    border-radius: 4px;
    color: white;
    background-color: #ffb69e;
    transition: transform 300ms ease, box-shadow 300ms ease;
}
nav.feature a:hover {
    transform: scale(1.025);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.125);
}
@media (max-width: 768px) {
    nav.feature a {
        width: calc(100% - 24px);
    }
    nav.feature a:not(:last-child) {
        margin-bottom: 12px;
    }
}

section.content {
    max-width: 1280px;
    padding: 16px;
    margin: 0 auto;
}
section.content.attribute {
    background-color:#ffb69e;
}
section.content.attribute ul {
    list-style: none;
}
section.content.trait tr:nth-child(odd) {
    background-color: #ffefea;
}
